.bikeDiv {
    background-color: rgba(103, 97, 97, 0.099);
    padding-top: 20px;
    display: inline-block;
    padding-right: 40px;
    margin: 20px;
    padding-top: 0px;
    margin-top: 20px;
}

.data {
    text-align: center;
    color: rgb(8, 3, 3);
    font-family: monospace;
    font-size: 13px;
}

.button {
    align-items: center;
    color: rgb(246, 238, 238);
    background-color: red;
    border-style: none;
    font-size: 18px;
    padding: 5px 30px;
    margin-top: 1px;
    text-decoration: none;
}

img {
    width: 250px;
}

.imageDiv {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    margin-top: 25px;
}

h2 {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.price {
    font-style: italic;
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 25px;
}

.frameSize {
    margin-bottom: 5px;
    margin-top: 5px;
}

