@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Poppins:wght@200;300&family=Righteous&display=swap');


* {
    margin: 0;
    padding: 0;
}

.Mains {
    background-image: url("./bike.jpg");
    background-size: cover;
    height: 85vh;
    max-width: 1920px;
    position: relative;

}

.Bikeshop {
    font-family: 'Pirata One', cursive;
    position: absolute;

    color: whitesmoke;
    font-size: 90px;
    position: absolute;
    left: 970px;
    top: 80px;
    font-family: 'Pirata One', cursive;
    font-weight: 600;
    letter-spacing: 5px;
    
    text-decoration: none;
    color: white;
}

.Trade {
    position: absolute;
    color: whitesmoke;
    font-size:3rem;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: 570px;
    top: 222px;
    letter-spacing: 2px;

}


.ComStyle {
letter-spacing: 3px;
    position: absolute;
    font-family: fantasy;
    color: #d0b592;
    font-size: 40px;
    left: 1290px;
    top: 132px;
}