@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Poppins:wght@200;300&family=Righteous&display=swap');


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.Mains {
    background-image: url("./BIKEWALLPAPER.jpg");
    background-repeat: no-repeat;

    height: 88vh;
    max-width: 1920px;
    max-height: 900px;
}


.Bikeshop {
    font-family: 'Pirata One', cursive;
    position: absolute;

    cursor: default;
    font-size: 90px;
    position: absolute;
    left: 970px;
    top: 80px;
    font-family: 'Pirata One', cursive;
    font-weight: 600;
    letter-spacing: 5px;

    text-decoration: none;
    color: white;
    text-shadow: 6px -1px 14px rgba(227, 227, 227, 0.78);
 
}

.Trade {
    position: absolute;
    color: rgb(231, 218, 218);
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: 725px;
    top: 175px;
    letter-spacing: 2px;
    cursor: default;
    text-shadow: 6px -1px 14px rgba(227, 227, 227, 0.78);
}


.ComStyle {
    letter-spacing: 3px;
    position: absolute;
    font-family: fantasy;
    color: #eebb02;
    font-size: 40px;
    left: 1290px;
    top: 132px;
    cursor: default;
    text-shadow: 6px -1px 14px rgba(227, 227, 227, 0.78);
}