.AllListedAdds {
    font-family: monospace;
    margin-top: 0px;
    width: 100%;
    height: 350px;
    background-image: url('./9-CANYON-Wallpaper-2400x1350-Gravity\ \(1\).jpg');
}

.NoBikesToShow {
    text-align: center;
    font-family: monospace;
}

.Honebikes {
    position: absolute;
    background-color: rgba(245, 245, 245, 0.645);
    margin-top: 5px;
    width: 1900px;
    text-align: center;
    font-family: fantasy;
    font-size: 35px;
}

.MainListBikes {
    width: 1900px;
    height: 830px;
}

.SearchBox {
    padding: 5px 10px 0px 20px;
}

.SearchInput {
    padding: 5px 10px 5px 20px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 20px;

}