.AboutMainDiv {
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 10px;
    background-image: url("./aboutPic.jpg");
    width: 1900px;
    height: 830px
}

.Paragraph {
    font-size: 25px;
    font-family: cursive;
    margin-left: 850px;
    margin-right: 90px;
    padding-bottom: 13cm;
    text-align: center;
    margin-top: 0px;
}

.AboutH1 {
    margin-left: 750px;
    font-size: 22px;
    font-family: fantasy;
    text-align: center;
}