.login-background {
    width: 1920px;
    height: 850px;
    background-image: url('https://wallpaperaccess.com/full/28999.jpg');
    padding-top: 1px;
}

.login-main-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-family: monospace;
    font-size: 1.5rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.inputs input {
    border: 2px solid rgba(120, 113, 113, 0.411);
    padding: 0.5rem;

}


.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #000000;
    padding: 70px;
    background-color: rgb(255, 255, 255);
    width: 40vh;
    height: 45vh;
    border-radius: 50px;
}

.login-button {
    background-color: #156749bf;
    color: white;
    padding: 12px 20px;
    margin: 20px auto;
    border: none;
    font-size: 14px;
    cursor: pointer;
    width: 70%;
    border-radius: 50px;
}

.login-button:hover {
    background-color: #0f4631bf;
}


.need-account {
    font-size: 1.4rem;
    margin-top: 2px;
    text-align: center;
    font-style: italic;
    font-family: monospace;
    font-weight: bold;
}
