/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.bike-item-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(221, 203, 162, 1) 100%);
    width: 290px;
    color: whitesmoke;
    height: auto;
    background-color: whitesmoke;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* margin: 0.5rem 0.5rem; */

}

.bike-item-main:hover {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(221, 203, 162, 1) 100%);

}

.button {

    color: rgb(255, 255, 255);
    background-color: #156749bf;
    border-style: none;
    font-size: 18px;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 50px;
    margin-bottom: 5px;
}

.button:hover {
    background-color: #103c2cbf;
}

.bike-image-container {
  
    padding: 3px;
    align-items: center;
    width: 90%;
    margin-top: 10px;
    border-radius: 5px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

}

